{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <select id="year">
                <option {{ year == 'wszystkie-lata' ? 'selected' }} value='wszystkie-lata'>Wszystkie Lata</option>
                <option {{ year == '2018' ? 'selected' }} value='2018'>2018</option>
                <option {{ year == '2017' ? 'selected' }} value='2017'>2017</option>
            </select>

            <select id="age">
                <option {{ age == 'wszystkie-kategorie' ? 'selected' }} value='wszystkie-kategorie'>Wszystkie Kategorie Wiekowe</option>
                <option {{ age == 'junior' ? 'selected' }} value='junior'>Juniorzy</option>
                <option {{ age == 'senior' ? 'selected' }} value='senior'>Seniorzy</option>
            </select>


            {% set lastFormula='' %}
            {% set lastWeight='' %}

            {% for user in users %}
                {% if (user.formula != lastFormula or user.weight != lastWeight) %}
                    <table class="table table-striped">
                    <caption>{% if user.sex == 'K' %} Kobiety {% else %} Mężczyźni  {% endif %}
                        {{ user.formula }} {{ user.weight }}</caption>
                    <thead>
                    <tr>
                        <th>Nazwisko i Imię</th>
                        <th>Rekord w Kategorii</th>
                    </tr>
                    </thead>
                    <tbody>
                {% endif %}
                <tr>
                    <td><a href="{{ user.href }}">
                            {{ user.surname }} {{ user.name }}

                            {% if (user.formula != lastFormula or user.weight != lastWeight) %}
                                <img class="belt" src="{{ asset('img/belts/champion-belt.svg') }}">
                            {% endif %}
                        </a>
                    </td>
                    <td><span style="color: #5cb85c"> {{ user.win }} </span>
                        <span style="color: #f0ad4e"> {{ user.draw }} </span>
                        <span style="color: #d9534f"> {{ user.lose }} </span></td>
                </tr>
                {% set lastFormula = user.formula %}
                {% set lastWeight = user.weight %}

                {% if user.formula !=lastFormula or user.weight !=lastWeight %}
                    </tbody>
                    </table>
                {% endif %}

            {% endfor %}


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#year').on('change', function () {
                var year = $(this).val();
                var age = $('#age').val();
                if (year) {
                    if(age){
                        window.location = '/ranking/' + year + '/' + age ;
                    }else{
                        window.location = '/ranking/' + year ;
                    }
                }
                return false;
            });

            $('#age').on('change', function () {
                var age = $(this).val();
                var year = $('#year').val();

                if (age) {

                    if(!year) {
                        year = 'wszystkie-lata'
                    }
                    window.location = '/ranking/'+ year +'/' + age ;
                }
                return false;
            });
        });
    </script>

{% endblock %}