{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwisko i Imię</th>
                        <th>Płeć</th>
                        <th>Wiek</th>
                        <th>Klub</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr {% if is_granted('ROLE_USER') %} {{ user.id == app.user.id ? "class='success'" }} {% endif %}>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('user', {'id': user.id }) }}"> {{ user.surname }} {{ user.name }}</a>
                            </td>
                            <td> {{ user.male ?  'M' : 'K' }}</td>
                            <td> {{ user.birthDay |getAge }} </td>
                            <td> {{ user.club }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

