{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table id="table" class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th>Nazwisko i Imię</th>
                        <th class="text-center">Płeć</th>
                        <th class="text-center">Wiek</th>
                        <th class="text-center">Klub</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userAndFights in usersAndFights %}
                        <tr {% if is_granted('ROLE_USER') %} {{ userAndFights[0].id == app.user.id ? "class='success black'" }} {% endif %}>
                            <td class="text-left"><a href="{{ path('user', {'id': userAndFights[0].id }) }}">
                                    {{ userAndFights[0].surname }} {{ userAndFights[0].name }}</a>
                                <span class="label label-success">W: {{ userAndFights[1]['w'] }}</span>
                                <span class="label label-warning">D: {{ userAndFights[1]['d'] }}</span>
                                <span class="label label-danger">L: {{ userAndFights[1]['l'] }}</span>
                            </td>
                            <td> {{ userAndFights[0].male ?  'M' : 'K' }}</td>
                            <td> {{ userAndFights[0].birthDay |getAge }} </td>
                            <td> {% if userAndFights[0].club %}
                                    <a href="{{ path('club_show', {'id': userAndFights[0].club.id }) }}"> {{ userAndFights[0].getClub() }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}