{% extends 'base.html.twig' %}

{% block title %} {{ user.name }} {{ user.surname }} {% endblock %}

{% block body %}
    {% set win, lose, draw = 0,0,0 %}

    {% for fight in fights %}
        {% if fight.winner %}
            {% if user.id == fight.winner.id %} {% set win = win + 1 %} {% else %}{%  set lose = lose + 1 %}
            {% endif %}
        {% elseif fight.draw %} {%  set draw = draw + 1 %}
        {% endif %}

    {% endfor %}

    <div class="container">
    <div class="row">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="col-xs-12 col-sm-6">

        {% include ':fighter:_profile.html.twig' %}
    </div>
    <div class="col-xs-12 col-sm-6">
    {% if win+lose+draw == 0 %} <h4 class="text-center">Brak rekordów walk</h4>
    {% else %}
        <table class="table">
            <tr>
                <th>#</th>
                <th>Turniej</th>
                <th>Przeciwnik</th>
                <th>Wynik</th>
            </tr>
            {% for fight in fights %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ fight.tournament.name }}</td>
                        {% for ThisUser in fight.users %}
                            {% if ThisUser.id != user.id %}
                                <td><a href='/zawodnik/{{ ThisUser.id }}'>{{ ThisUser.name }} {{ ThisUser.surname }}</a>
                                    </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                        {% if fight.winner %}
                            {% if user.id == fight.winner.id %} <span class="label label-success">W</span>
                                {% else %} <span class="label label-danger">L</span>
                                {% endif %}
                        {% elseif fight.draw %}
                            <span class="label label-warning">D</span>
                        {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        </table>
        </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
