
{% macro countRecord(user) %}

    {% set win, lose, draw = 0,0,0 %}

    {% for fight in user.fights %}
        {% if fight.fight.winner %}
            {% if user.id == fight.fight.winner.id %} {% set win = win + 1 %} {% else %}{% set lose = lose + 1 %}
            {% endif %}
        {% elseif fight.fight.draw %} {% set draw = draw + 1 %}
        {% endif %}
    {% endfor %}

{% endmacro %}



{% macro record(user) %}
    {#{% import _self as macro %}#}
    {#{{ macro.countRecord(user) }}#}


    {#<span style="color: #5cb85c">{{ win }} </span>#}
    {#<span style="color: #f0ad4e">{{ draw }} </span>#}
    {#<span style="color: #d9534f">{{ lose }} </span>#}


{% endmacro %}

{% macro recordBootstrap(user) %}
    {#{% import _self as macro %}#}
    {#{{ macro.countRecord(user) }}#}


    {#<h3><span class="label label-success">W: {{ win }}</span>#}
        {#<span class="label label-warning">D: {{ draw }}</span>#}
        {#<span class="label label-danger">L: {{ lose }}</span>#}
    {#</h3>#}

{% endmacro %}

{% macro formatYMDdzienTygodnia(dateVar) %}

    {{ dateVar | date('Y-m-d') }} ({{ dateVar |localizeddate('none', 'full', app.request.locale, null, 'cccc') }})

{% endmacro %}


{% macro table(fights, row) %}
    {% import _self as macro %}

    <div>
        <span class="label label-success">W</span> - Win (Wygrana)
        <span class="label label-warning">D</span> - Draw (Remis)
        <span class="label label-danger">L</span> - Loss (Przegrana)
    </div>

    <table id="table-fight" class="table">
        <thead>
        <tr>
            <th class="text-center">{% if row.order %} Kolejność {% endif %}</th>
            <th>
                Zawodnik 1 <br>
                <span class="label label-danger">Narożnik Czerwony</span>
            </th>
            <th>
                Zawodnik 2 <br>
                <span class="label label-primary">Narożnik Niebieski</span>
            </th>
            <th class="text-center">Płeć</th>
            <th class="text-center">Formuła</th>
            <th class="text-center">Kat. wagowa</th>
            {% if row.tournament %}
                <th class="text-center">Turniej</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
            <tr>
                <td class="text-center">
                    {% if row.order %} {{ "%02d"|format(loop.index) }} {% endif %}
                    <a href="{{ path('fight_show', {'id': fight.id }) }}">
                        Szczegóły
                        {% if fight.youtubeId %}
                            <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'>
                        {% endif %}
                    </a>
                </td>
                {% for user in fight.users %}
                    <td>
                        <a href="{{ path('user_show', {'id': user.user.id }) }}">
                            <div>
                            {{ user.user.surname }} {{ user.user.name }} {% include '_macros/_fight_result_icon.html.twig' %}<br>
                            {{ macro.record(user.user) }}
                            {% if user.user.club %} <br> ({{ user.user.club }}) {% endif %}
                            </div>
                        </a>
                        {% if user.user.birthDay %}
                            {% set age = user.user.birthDay |getAge %}
                            {{ age }} lat {{ age <= 18 ? '(Junior)' }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td class="text-center">{{ fight.users[0].user.male ? 'M' : 'K' }}</td>
                <td class="text-center">{{ fight.formula }}</td>
                <td class="text-center">{{ fight.weight }}</td>
                {% if row.tournament %}
                    <td class="text-center"><a
                                href="{{ path('fight_show', {'id': fight.id }) }}">{{ fight.tournament.name }}</a>
                    </td> {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}