{% macro record(user) %}

    {% set win, lose, draw = 0,0,0 %}

    {% for fight in user.fights %}
        {% if fight.winner %}
            {% if user.id == fight.winner.id %} {% set win = win + 1 %} {% else %}{% set lose = lose + 1 %}
            {% endif %}
        {% elseif fight.draw %} {% set draw = draw + 1 %}
        {% endif %}
    {% endfor %}

    <span style="color: #5cb85c">{{ win }} </span>
    <span style="color: #f0ad4e">{{ draw }} </span>
    <span style="color: #d9534f">{{ lose }} </span>

{% endmacro %}

{% macro formatYMDdzienTygodnia(dateVar) %}

    {{ dateVar | date('Y-m-d') }} ({{ dateVar |localizeddate('none', 'full', app.request.locale, null, 'cccc') }})

{% endmacro %}
