<ul class="nav navbar-nav">
        <li><a href="{{ path('admin_user_list') }}">Zawodnicy</a></li>
        <li><a href="{{ path('admin_tournament_sign_up', { 'id' : 1}) }}"> Płatności</a></li>
        <li><a href="{{ path('admin_tournament_weight', { 'id' : 1}) }}"> Waga</a></li>
        <li><a href="{{ path('admin_tournament_pair', { 'id' : 1}) }}"> Parowanie</a></li>
        <li><a href="{{ path('admin_tournament_fights', { 'id' : 1}) }}"> Walki - Wygrał / Przegrał</a></li>
        <li><a href="{{ path('admin_mail') }}">Mail</a></li>
</ul>
