<ul class="nav navbar-nav">
        <li><a href="{{ path('admin_user_list') }}">Zawodnicy</a></li>
        {#<li><a href="{{ path('admi', { 'id' : 2}) }}"> Zapisy</a></li>#}
        <li><a href="{{ path('admin_tournament_sign_up', { 'id' : 3}) }}"> Płatności</a></li>
        <li><a href="{{ path('admin_tournament_weight', { 'id' : 3}) }}"> Waga</a></li>
        <li><a href="{{ path('admin_tournament_pair', { 'id' : 3}) }}"> Parowanie</a></li>
        <li><a href="{{ path('admin_tournament_fights', { 'id' : 3}) }}"> Walki - Wygrał / Przegrał</a></li>
        <li><a href="{{ path('admin_mail') }}">Mail</a></li>
</ul>
