{%  extends 'base.html.twig' %}

{%  block body %}
    {% include 'admin/base.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        {#<h1>Sobota (20.05.2017)</h1>#}
        {#{% include 'admin/_fights_table_sobota.html.twig' with {fights : fights}  %}#}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

    $( ".select_day" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");

        $.ajax({
            type: 'POST',
            url: "{{ path('setDay') }}",
            data: {fightId: arrValues[0], day: arrValues[1]},
            success: function () {

                location.reload();
            }
        });
    });


    $( ".select_order" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");


        $.ajax({
            type: 'POST',
            url: "{{ path('changePositionFight', {'id': tournament.id }) }}",
            data: {wantedPosition: arrValues[0], day:arrValues[1] ,position: this.id},
            success: function () {
                 location.reload();
            }
        });
    });

    $( ".select_winner" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");

        $.ajax({
            type: 'POST',
            url: "{{  path('setWinner') }}",
            data: {fightId: arrValues[0], userId: arrValues[1], draw: arrValues[2] },
            success: function () {
                location.reload();
            }
        });

    });

    $( ".checkbox_ready" ).change(function() {
        $.ajax({
            type: 'POST',
            url: "{{ path('toggleFightReady') }}",
            data: {fightId: this.value},
            success: function () {

            }
        });
    });

</script>
{% endblock %}

