{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="col-xs-12">
        <div>
            <span class="label label-success">W</span> - Win (Wygrana)
            <span class="label label-danger">L</span> - Loss (Przegrana)
        </div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Kolejność</th>
                <th>Zawodnik 1</th>
                <th>Zawodnik 2 </th>
                <th>Formuła</th>
                <th>Kat. wagowa</th>
            </tr>
            </thead>
            <tbody>
            {% for fight in fights %}
                <tr>
                    <td><a href="{{ path("removeFight", { 'id' : fight.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Skasuj</a>
                        <a href="{{ path("resetWinner", { 'id': fight.id }) }}" class="btn btn-warning"><i class="fa fa-undo fa-lg"></i> Reset</a>
                    </td>
                    <td><select class="select_order" id="{{ loop.index }}">
                    {% for i in 1..number_of_fights %}
                        <option value="{{ i }}" {{ fight.position == loop.index ? 'selected' }} >{{ i }}</option>
                    {% endfor %}
                    </td></select>
                    {% if fight.winner %}
                        <td> <a href="{{ path('setWinner', {'id': fight.id, 'user_id': fight.UserOne.id }) }}"> {{ fight.UserOne.surname }} {{ fight.UserOne.name }} </a>
                            {{ fight.UserOne.id == fight.winner.id ? "<span class='label label-success'>W</span></td>" : "<span class='label label-danger'>L</span></td>" }}</td>
                        <td> <a href="{{ path('setWinner', {'id': fight.id, 'user_id': fight.UserTwo.id }) }}"> {{ fight.UserTwo.surname }} {{ fight.UserTwo.name }} </a>
                            {{ fight.UserTwo.id == fight.winner.id ? "<span class='label label-success'>W</span></td>" : "<span class='label label-danger'>L</span></td>" }}</td>
                    {% else %}
                        <td> <a href="{{ path('setWinner', {'id': fight.id, 'user_id': fight.UserOne.id }) }}"> {{ fight.UserOne.surname }} {{ fight.UserOne.name }} </a></td>
                        <td> <a href="{{ path('setWinner', {'id': fight.id, 'user_id': fight.UserTwo.id }) }}"> {{ fight.UserTwo.surname }} {{ fight.UserTwo.name }} </a></td>
                    {% endif %}
                    <td>{{ fight.formula }}</td>
                    <td>{{ fight.weight }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('allFightsReady') }}" class="btn btn-primary"> Opublikuj Listę Walk</a>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $( ".select_order" ).change(function() {

        $.ajax({
            type: 'POST',
            url: "{{ path('changePositionFight') }}",
            data: {wantedPosition: this.value, position: this.id},
            success: function () {
                 $(location).attr('href', "{{ path("admin_fight") }}");
            }
        });
    });
</script>
{% endblock %}

