{% extends 'base.html.twig' %}
{% block body %}
    {% include 'admin/base.html.twig' %}

    <style>
        ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
        li { margin: 5px; padding: 5px; width: 150px; }
    </style>

    <div class="col-xs-12 col-md-10 col-md-offset-1">
        {% for user in freeUsers %}
            <div style="width:20%; border: solid">
                <div style="background-color:{{ user.male == 'K' ? 'pink':'blue' }};">Płeć: {{ user.male }} </div>
                <div style="background-color:

                {% if user.formula == 'A' %} red
       {% elseif user.formula == 'B' %} orange
        {% else %} green{% endif %}

                        ;">Formuła: {{ user.formula }} </div>

                Waga: {{ user.weight }} <br>
                Staż: {{ user.staz }} <br>
                Wiek: {{ user.age }} <br>
                Klub: {{ user.club }} <br>
                {{ user.surname }} {{ user.name }} <br>
            </div>
            <br>
        {% endfor %}
    </div>

    <ul>
        <li id="draggable" class="ui-state-highlight">Drag me down</li>
    </ul>

    <ul id="sortable">
        <li class="ui-state-default">Item 1</li>
        <li class="ui-state-default">Item 2</li>
        <li class="ui-state-default">Item 3</li>
        <li class="ui-state-default">Item 4</li>
        <li class="ui-state-default">Item 5</li>
    </ul>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#sortable" ).sortable({
                revert: true
            });
            $( "#draggable" ).draggable({
                connectToSortable: "#sortable",
                helper: "clone",
                revert: "invalid"
            });
            $( "ul, li" ).disableSelection();
        } );
    </script>
{% endblock %}

