{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/base.html.twig' %}
    <div class="col-xs-12">
        {#<h3>Zatwierdzono {{ signUpsTournamentReady|length }} na {{ signUpsTournament|length }} zawodników</h3>#}
        <h3>Zapłaciło {{ signUpsPaid|length }} na {{ signUpsTournament|length }} zawodników</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Zapłacone?</th>
                <th>#</th>
                <th>Nazwisko i Imię</th>
                <th>Klasa</th>
                <th>Staż [miesiące]</th>
                <th>Płeć</th>
                <th>Kat. Wagowa</th>
                <th>Wiek</th>
            </tr>
            </thead>
            <tbody>
            {% for signUp in signUpsTournament %}
                <tr>
                    <td><select class="select_isPaid">
                            {% if signUp.isPaid %}
                                <option selected value="{{ signUp.id }}|1">Tak</option>
                                <option value="{{ signUp.id }}|0">Nie</option>
                            {% else %}
                                <option value="{{ signUp.id }}|1">Tak</option>
                                <option selected value="{{ signUp.id }}|0">Nie</option>
                            {% endif %}
                        </select>
                    </td>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('user', {'id': signUp.User.id }) }}">
                            {{ signUp.User.surname }} {{ signUp.User.name }}</a></td>
                    <td> {{ signUp.formula }} </td>
                    <td> {{ signUp.trainingTime }}</td>
                    <td> {{ signUp.User.male ?  'M' : 'K' }} </td>
                    <td> {{ signUp.getFinallWeight() }} </td>
                    <td> {{ signUp.User.birthDay |getAge }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Liczba zgłoszeń zapłaconych ale zawodnik później się wycofał {{ signUpsPaidBuTDeleted|length }}</h3>

        {% include 'admin/_sign_ups.html.twig' with signUps : signUpsPaidBuTDeleted %}


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>

        $(".select_isPaid").change(function () {

            var values = this.value;
            var arrValues = values.split("|");

            $.ajax({
                type: 'POST',
                url: "{{ path('set_is_paid') }}",
                data: {signUpId: arrValues[0], isPaid: arrValues[1]},
                success: function () {
                    location.reload();                 }
            });

        });
    </script>
{% endblock %}