{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container">
    <div class="row">
    <button class="btn btn-primary">Dodaj Nowy Turniej</button>
   <table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Nazwa</th>
        <td>Maksymalna Liczba Uczestników</td>
        <th>Miasto</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.capacity }}</td>
            <td>{{ tournament.city }}</td>
            <td>{{ tournament.date| date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
{% endblock %}