<div class="col-xs-12">
    <div>
        <span class="label label-success">W</span> - Win (Wygrana)
        <span class="label label-warning">D</span> - Draw (Remis)
        <span class="label label-danger">L</span> - Loss (Przegrana)
    </div>

    <table id="table-fight" class="table">
        <thead>
        <tr>
            <th></th>
            <th>Zawodnik 1</th>
            <th>Zawodnik 2</th>
            <th class="text-center">Formuła</th>
            <th class="text-center">Kat. wagowa</th>
            <th class="text-center">Turniej</th>
        </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
            <tr>
                <td class="text-center"><a href="{{ path('fight_show', {'id': fight.id }) }}">
                        Szczegóły {% if fight.youtubeId %} <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'>{% endif %}</a></td>

                {% for signUp in fight.signuptournament %}
                <td><a href="{{ path('user', {'id': signUp.user.id }) }}"> {{ signUp.user.surname }} {{ signUp.user.name }}
                        {% if signUp.user.club %} ({{ signUp.user.club }}) {% endif %}
                    </a>
                    {% include '_macros/_fight_result_icon.html.twig' %}
                </td>
                    {% endfor %}
                <td class="text-center">{{ fight.formula }}</td>
                <td class="text-center">{{ fight.weight }}</td>
                <td class="text-center"><a href="{{ path('fight_show', {'id': fight.id }) }}">{{ fight.tournament.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>