{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <span class="label label-success">W</span> - Win (Wygrana)
                    <span class="label label-danger">L</span> - Loss (Przegrana)
                </div>
                <table class="table">

                    <thead>
                    <tr>
                        <th>Kolejność</th>
                        <th>Zawodnik 1</th>
                        <th>Zawodnik 2</th>
                        <th>Formuła</th>
                        <th>Kat. wagowa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fight in fights %}
                        <tr>
                            <td>{{ fight.position }}</td>
                            {% if fight.winner %}
                                <td>
                                    <a href="{{ path('user', {'id': fight.UserOne.id }) }}"> {{ fight.UserOne.surname }} {{ fight.UserOne.name }} </a>
                                    {{ fight.UserOne.id == fight.winner.id ? "<span class='label label-success'>W</span></td>" : "<span class='label label-danger'>L</span></td>" }}
                                </td>
                                <td>
                                    <a href="{{ path('user', {'id': fight.UserTwo.id }) }}"> {{ fight.UserTwo.surname }} {{ fight.UserTwo.name }} </a>
                                    {{ fight.UserTwo.id == fight.winner.id ? "<span class='label label-success'>W</span></td>" : "<span class='label label-danger'>L</span></td>" }}
                                </td>
                            {% else %}
                                <td>
                                    <a href="{{ path('user', {'id': fight.UserOne.id }) }}"> {{ fight.UserOne.surname }} {{ fight.UserOne.name }} </a>
                                </td>
                                <td>
                                    <a href="{{ path('user', {'id': fight.UserTwo.id }) }}"> {{ fight.UserTwo.surname }} {{ fight.UserTwo.name }} </a>
                                </td>
                            {% endif %}
                            <td>{{ fight.formula }}</td>
                            <td>{{ fight.weight }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}