<table class="table table-condensed text-center table-borderless">
    <tr>
        <td>
            <h3><span class="label label-success">W: {{ win }}</span>
                <span class="label label-warning">D: {{ draw }}</span>
                <span class="label label-danger">L: {{ lose }}</span>
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <h1> {{ user.name }} {{ user.surname }}</h1>
        </td>
    </tr>
    <tr>
        <td><img class='center' style="width: 180px;, height: 180px;"
                    {% if user.male %}
                 src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/male.png') }}"
                    {% else %}
                 src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/female.png') }}"
             >
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>Płeć:</b> {{ user.male ?  'mężczyzna' : 'kobieta' }}</td>
    </tr>
    <tr>
        <td><b>Wiek:</b>{% if user.birthDay %} {{ user.birthDay | getAge }} lat {% endif %}</td>
    </tr>
    <tr>
        <td>
            <b>Klub:</b>{% if user.club %}
            <a href="{{ path('club_show', {'id': user.club.id }) }}"> {{ user.getClub() }} </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>Trener: </b>Mariusz</td>
    </tr>

</table>