<table class="table table-condensed text-center table-borderless">
    {% if user.type == 1 %}
        {% set win, lose, draw = 0,0,0 %}

        {% for fight in user.userFights %}
            {% if fight.fight.winner %}
                {% if user.id == fight.fight.winner.id %} {% set win = win + 1 %} {% else %}{% set lose = lose + 1 %}
                {% endif %}
            {% elseif fight.fight.draw %} {% set draw = draw + 1 %}
            {% endif %}
        {% endfor %}

    <tr>
        <td>
            <h3><span class="label label-success">W: {{ win }}</span>
                <span class="label label-warning">D: {{ draw }}</span>
                <span class="label label-danger">L: {{ lose }}</span>
            </h3>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <h1> {{ user.name }} {{ user.surname }}</h1>
            <h4>
                {% if user.type == 1  %} Zawodnik {% elseif user.type == 2 %} Trener {% else %} Kibic {% endif %}
            </h4>
        </td>
    </tr>
    <tr>
        <td><img class='center' style="width: 180px;, height: 180px;"
                    {% if user.male %}
                 src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/male.png') }}"
                    {% else %}
                 src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/female.png') }}"
             >
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>Wiek:</b>{% if user.birthDay %} {{ user.birthDay | getAge }} lat {% endif %}</td>
    </tr>
    <tr>
        <td><b>Płeć:</b> {{ user.male ?  'mężczyzna' : 'kobieta' }}</td>
    </tr>
    <tr>
        <td>
            <b>Klub:</b>
            {% if user.club %}
                <a href="{{ path('club_show', {'id': user.club.id }) }}"> {{ user.getClub() }} </a>
            {% else %}
                bez klubu
            {% endif %}
        </td>
    </tr>
{% if user.type == 1 %}
    <tr>
        <td>
            <b>Trener: </b>
            {% if user.getCoach() %}
                <a href="{{ path('user_show', {'id': user.getCoach().id}) }}">{{ user.getCoach().name }} {{ user.getCoach().surname }} </a>
            {% else %}
                bez trenera
            {% endif %}
        </td>
    </tr>
{% endif %}
</table>