{% import "_macros/macro.html.twig" as macro %}
<table class="table table-condensed text-center table-borderless">
    {% if user.type == 1 %}
    <tr>
        <td>
            <h3>
                {{ macro.recordLabel(user) }}
            </h3>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <h1> {{ user.name }} {{ user.surname }}</h1>
            <h4>
                {% if user.type == 1  %} Zawodnik {% elseif user.type == 2 %} Trener {% else %} Kibic {% endif %}
            </h4>
        </td>
    </tr>
    <tr>
        <td><img class='center' style="width: 180px;, height: 180px;"
                    {#{% if user.male %}#}
                 {#src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/male.png') }}"#}
                    {#{% else %}#}
                 {#src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/female.png') }}"#}
             {#>#}
            {#{% endif %}#}
        </td>
    </tr>
    <tr>
        <td><b>Wiek:</b>{% if user.birthDay %} {{ user.birthDay | getAge }} lat {% endif %}</td>
    </tr>
    <tr>
        <td><b>Płeć:</b> {{ user.male ?  'mężczyzna' : 'kobieta' }}</td>
    </tr>
    <tr>
        <td>
            <b>Klub:</b>
            {% if user.club %}
                <a href="{{ user.club.href }}"> {{ user.club.name }} </a>
            {% else %}
                bez klubu
            {% endif %}
        </td>
    </tr>
{% if user.type == 1 %}
    <tr>
        <td>
            <b>Trener: </b>
            {% if user.coach %}
                <a href="{{ user.coach.href }}">{{ user.coach.name }} {{ user.coach.surname }} </a>
            {% else %}
                bez trenera
            {% endif %}
        </td>
    </tr>
{% endif %}
</table>