{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-md-6 col-md-offset-3">
    {{ form_start(form) }}
    {{ form_row(form.tournament, { 'label': 'Turniej'} ) }}
    {{ form_row(form.formula, { 'label': 'Formuła'} ) }}
    {{ form_row(form.weight, { 'label': 'Waga'} ) }}
    {% for user in form.users %}
        <div class="col-xs-6">
        {{ form_errors(user) }}
        {{ form_row(user,{
        'label': 'Zawodnik'
        })}}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary" formnovalidate>Paruj</button>

    {{ form_end(form) }}

</div>
    <div class="col-xs-12">
        <h3>Zawodnicy którzy są zgłoszeni do turnieju ale nie są jescze sparowani</h3>
        <h3>Liczba zapisanych: {{ registeredUsersQty }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Nazwisko i Imię</th>
                <th>Formuła</th>
                <th>Płeć</th>
                <th>Kat. Wagowa</th>
                <th>Wiek</th>
            </tr>
            </thead>
            <tbody>
            {% for user in freeUsers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('user', {'id': user.User.id }) }}"> {{ user.User.surname }} {{ user.User.name }}</a></td>
                    <td> {{ user.formula }} </td>
                    <td> {{ user.User.male ?  'M' : 'K' }} </td>
                    <td> {{ user.weight }} </td>
                    <td> {{ user.User.birthDay |getAge }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>

    $( document ).ready(function() {

        $("#fight_users_1").val($("#fight_users_1 option:eq(1)").val());

        $("select").change();

    });

    $('select').on('change',function(){
    var currValue = $(this).attr('data-value');
    var column = $(this).val();
    $(this).attr('data-value',column);
    $('select').find('[value="'+currValue+'"]').removeAttr('disabled');
    $('select').find('[value="'+currValue+'"]').css('display','inline-block');
    $('select').not(this).each(function(){
    if(column===''){
    return;
    }
    $(this).find('[value="'+column+'"]').attr('disabled','disabled');
    $(this).find('[value="'+column+'"]').css('display','none');
    });
    });
</script>
{% endblock %}