
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class=" row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                {%  include '_messages/success.html.twig' %}
               {{ include('user/fighter/_profile.html.twig') }}

                <div class="col-sm-6 col-sm-offset-3 user-type">
                    {% include '_parts/choose-user.html.twig' %}
                </div>
                <div class="row"></div>
                <div class="js-form-register"></div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script>

        $(document).ready(function () {
            $(document).on('submit', '.ajaxForm', function(e) {
                e.preventDefault();
            });

            $("input:radio").click(function() {

                insertForm({{ user.type }})

            });

            $('input[name="user-type"][value="{{ user.type }}"]').prop('checked', true).trigger("click");

        });

        function insertForm (type) {
            $.ajax({
                type: 'GET',
                url: Routing.generate('user_update_form_view', { type: type}),
                success: function (data) {
                    $(".js-form-register").html(data);

                    $('.radio-inline').change(function() {
                        var checkedValue = $('input:radio:checked').val();
                        insertForm(checkedValue);
                        $('input[name="' + name+ '"][value="' + SelectdValue + '"]').prop('checked', true);
                    });

                     $('.select2').select2({tags: true});
                     initAjaxForm();
                }
            })

        }
    </script>
{% endblock %}