<div class="col-xs-12">
    <div>
        <span class="label label-success">W</span> - Win (Wygrana)
        <span class="label label-warning">D</span> - Draw (Remis)
        <span class="label label-danger">L</span> - Loss (Przegrana)
    </div>
    <table id="table" class="table">
        <thead>
        <tr>
            <th class="text-center">Kolejność</th>
            <th>Zawodnik 1</th>
            <th>Zawodnik 2</th>
            <th class="text-center">Formuła</th>
            <th class="text-center">Kat. wagowa</th>
        </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
            <tr>
                <td class="text-center">{{ "%02d"|format(loop.index) }} <a href="{{ path('fight_show', {'id': fight.id }) }}">
                        Szczegóły {% if fight.youtubeId %} <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'>{% endif %}</a></td>
                {% for signUp in fight.signuptournament %}
                    <td><a href="{{ path('user', {'id': signUp.user.id }) }}"> {{ signUp.user.surname }} {{ signUp.user.name }}
                            {% include '_macros/_fight_result_icon.html.twig' %}
                            {% if signUp.user.club %} <br> ({{ signUp.user.club }}) {% endif %}
                    </a>
                {% endfor %}
                <td class="text-center">{{ fight.formula }}</td>
                <td class="text-center">{{ fight.weight }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>