{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <nav class="navbar-admin">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <a href="#"><li id="tournament_show">Info</li></a>
                <a href="#"><li id="tournament_sign_ups">Zgłoszenia</li></a>
                <a href="#"><li id="tournament_fights">Walki</li></a>
                <a href="#"><li id="tournament_rules">Regulamin</li></a>
                <a href="#"> <li id="tournament_contact">Kontakt</li></a>
            </ul>
        </div>
    </nav>
</div>

<div class="main"></div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

<script>
    $(document).ready(function () {


            $.ajax({
                type: 'GET',
                url: "{{ path('tournament_show', {id: tournament.id}) }}",
                success: function (data) {
                    $(".main").html(data);
                }
            });

    });

    $( "#tournament_rules" ).click(function() {
        $.ajax({
            type: 'GET',
            url: "{{ path('tournament_rules', {id: tournament.id}) }}",
            success: function (data) {
                $(".main").html(data);
            }
        });
    });

    $( "#tournament_contact" ).click(function() {
        $.ajax({
            type: 'GET',
            url: "{{ path('tournament_contact', {id: tournament.id}) }}",
            success: function (data) {
                $(".main").html(data);
            }
        });
    });




    $( "#tournament_show" ).click(function() {
        $.ajax({
            type: 'GET',
            url: "{{ path('tournament_show', {id: tournament.id}) }}",
            success: function (data) {
                $(".main").html(data);
            }
        });
    });



    $( "#tournament_fights" ).click(function() {
        $.ajax({
            type: 'GET',
            url: "{{ path('tournament_fights', {id: tournament.id}) }}",
            success: function (data) {
                $(".main").html(data);
            }
        });
    });

    $( "#tournament_sign_ups" ).click(function() {
        $.ajax({
            type: 'GET',
            url: "{{ path('tournament_sign_up', {id: tournament.id}) }}",
            success: function (data) {
                $(".main").html(data);
            }
        });
    });
</script>
{% endblock %}
