<table class="table table-striped text-center">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Nazwa</th>
        <th class="text-center">Liczba Uczestników</th>
        <th class="text-center">Data</th>
        <th class="text-center">Miasto</th>
        <th class="text-center">Miejsce</th>
        <th class="text-center">Ulica</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{ loop.revindex }}</td>
            <td><a href="{{ path('tournament_panel', {'id': tournament.id }) }}">{{ tournament.name }}</a></td>
            <td>{{ tournament.getSignUpTournament| length }} / {{ tournament.capacity }}</td>
            {% for schedule in tournament.schedule %}
                {% if schedule.type == 'final' %}
               <td>{{ schedule.start|date('d-m-Y') }}</td>
                {#{% elseif schedule.type == 'month' %}#}
               {#<td>{{ schedule.start|date('m-Y') }} month</td>#}
                {% endif %}
            {% endfor %}
            <td>{{ tournament.city }}</td>
            <td>{{ tournament.placeName }}</td>
            <td>{{ tournament.street }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>