
<div class="col-xs-12  col-md-10 col-md-offset-1">
    <h2>Organizator</h2>
    Głównym organizatorem turnieju jest LEGIA FIGHT CLUB, 02-449 Warszawa, ul. Łazienkowska 6A
    <a href="http://www.lfc.waw.pl">www.lfc.waw.pl</a> Osoba odpowiedzialna za organizację - Paweł Michalik - 505 266 615
    <h2>Zgłoszenia</h2>
    <ul>
        <li>
            Zgłoszenia do turnieju odbywają się elektronicznie poprzez rejestrację w serwisie
            <a href="{{ path('login') }}">fighterchamp.pl</a> i wysłanie swojego
            zgłoszenia na stronie turnieju.
        </li>
        <li>
            Wszyscy zawodnicy muszą posiadać zaświadczenie lekarskie (może być od lekarza pierwszego kontaktu), że nie ma przeciwskazań do uprawiania dyscypliny jaką jest boks.
        </li>
        <li>
            Zawodnicy niepełnoletni muszą posiadać badania sportowo - lekarskie oraz podpisane <a href="{{ asset('documents/oświadczenie-Granda-dziecko.docx') }}">oświadczenie dla opiekunów prawnych zawodników niepełnoletnich</a>
        </li>
        <li>
            Wszyscy zawodnicy podpisują oświadczenia przed startem.
        </li>
        <li>
            Warunkiem zgłoszenia jest także wpłata wpisowego - 30 zł do końca marca albo 35 zł po tym terminie.
            Można wpłacać w klubie Legia Fight Club (do wpłaty dołączamy swoje dane ), lub na numer konta:
            97 2490 0005 0000 4000 8002 2034
            (nazwisko odbiorcy Paweł Michalik)
            Uwaga! Jeżeli ktoś po zgłoszeniu nie będzie mógł wziąć udziału w zawodach, prosimy o poinformowanie organizatora w ciągu 7 dni do zawodów. Jeżeli informacja będzie po terminie, NIE ZWRACAMY wpisowego.
        </li>
        <li>
            Zgłoszenia przyjmowane są do 17 marca 2017r.
        </li>
    </ul>
    <h2>Podział zawodników</h2>
    Zawodnicy będą dobierani według płci, wieku, stopnia zaawansowania i wagi.<br>
    Kategorie wiekowe:<br>
    <ul>
        <li>młodzicy (13-14 lat)</li>
        <li>kadeci i kadetki (15 - 16 lat)</li>
        <li>juniorzy i juniorki (17 - 18 lat)</li>
        <li>seniorzy i seniorki (18+ lat)</li>
    </ul>
    Klasy zawodników wg. stopnia zaawansowania:<br>
    <ul>
        <li>A – zawodnicy z występami na zawodach rangi Mistrzostw Polski lub aspirujący do nich. Conajmniej kilkanaście występów amatorskich. Prezentujący wysokie wyszkolenie techniczne i motoryczne. W klasie tej na odpowiedzialność trenera wystąpić może zawodnik z klasy B.</li>
        <li>B – zawodnicy średniej klasy. 3 lub więcej pojedynków amatorskich bez występów na zawodach ogólnopolskich. W klasie tej na odpowiedzialność trenera wystąpić może zawodnik z klasy C.</li>
        <li>C – osoby początkujące i trenujące rekreacyjnie. Góra kilka walk amatorskich. Dodatkowo uwzględniamy w zgłoszeniu staż treningowy.</li>
    </ul>
</div>
<div class="col-xs-12  col-md-10 col-md-offset-1">
    <p>UWAGA na wadze jest kilogram tolerancji!</p>
    <p>Kategorie wagowe:</p>
    <table class="table table-condensed table-striped text-center">
        <tbody><tr>
            <th>Mężczyźni (juniorzy i seniorzy) [kg]</th>
            <th>Mężczyźni (kadeci i młodzicy) [kg]</th>
            <th>Kobiety (juniorki i seniorki) [kg]</th>
            <th>Kobiety (kadetki i młodzicy) [kg]</th>
        </tr>
        <tr>
            <td>46</td>
            <td>46</td>
            <td>48</td>
            <td>44</td>
        </tr>
        <tr>
            <td>49</td>
            <td>48</td>
            <td>51</td>
            <td>46</td>
        </tr>
        <tr>
            <td>52</td>
            <td>50</td>
            <td>54</td>
            <td>48</td>
        </tr>
        <tr>
            <td>56</td>
            <td>52</td>
            <td>57</td>
            <td>50</td>
        </tr>
        <tr>
            <td>60</td>
            <td>54</td>
            <td>60</td>
            <td>52</td>
        </tr>
        <tr>
            <td>64</td>
            <td>57</td>
            <td>64</td>
            <td>54</td>
        </tr>
        <tr>
            <td>69</td>
            <td>60</td>
            <td>69</td>
            <td>57</td>
        </tr>
        <tr>
            <td>75</td>
            <td>63</td>
            <td>75</td>
            <td>60</td>
        </tr>
        <tr>
            <td>81</td>
            <td>66</td>
            <td>80</td>
            <td>63</td>
        </tr>
        <tr>
            <td>91</td>
            <td>70</td>
            <td>80+</td>
            <td>66</td>
        </tr>
        <tr>
            <td>91+</td>
            <td>75</td>
            <td></td>
            <td>70</td>
        </tr>
        <tr>
            <td></td>
            <td>80</td>
            <td></td>
            <td>75</td>
        </tr>
        <tr>
            <td></td>
            <td>80+</td>
            <td></td>
            <td>80</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>80+</td>
        </tr>
        </tbody></table>
    <h2>Ochrona danych osobowych</h2>
    <ol>
        <li>Dane osobowe zawodników będą przetwarzane w celach organizacji i promocji imprez Organizatora, wyłonienia
            zwycięzców oraz przyznania i wydania nagród.</li>
        <li>Dane osobowe uczestników będą przetwarzane zgodnie z obowiązującymi przepisami, w szczególności z Ustawą
            z 29 sierpnia 1997r. o Ochronie Danych Osobowych (Dz.U. z 2014r. poz. 1182 i 1662 oraz 2015r. poz. 1309).</li>
        <li>Przetwarzanie i wykorzystanie danych, o którym mowa w punkcie 9. obejmuje również publikację: imienia,
            nazwiska, roku urodzenia i nazwy klubu.</li>
        <li>Uczestnik przyjmuje do wiadomości, że przysługuje mu prawo wglądu do treści jego danych oraz ich poprawiania.</li>
        <li>Podanie danych osobowych oraz wyrażenie zgody na ich przetwarzanie jest dobrowolne, lecz niezbędne do
            udział w turnieju.</li>
        <li>Uczestnik wyraża zgodę na utrwalenie i wykorzystanie swojego wizerunku na nośniku cyfrowym w postaci zdjęć
            lub filmów. Materiały te wykorzystywane będą do celów szkoleniowych, promocyjnych i marketingowych.</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            Do pobrania:
        </div>
        <div class="panel-body">
            <a href="{{ asset('documents/oświadczenie-Granda-dziecko.docx') }}">oświadczenie dla opiekunów prawnych zawodników niepełnoletnich</a><br>
            <a href="{{ asset('documents/oświadczenie-Granda.docx') }}"> oświadczenie dla kobiet</a><br>
            <a href="{{ asset('documents/oświadczenie-Granda-kobiety.docx') }}"> oświadczenie dla mężczyzn</a><br>
        </div>
    </div>
</div>