<div class="container-fluid">
    <div class="main">
        <section class="tournament-data">
            <div class="row">
                <div class="title col-xs-12">
                    <img src="{{ asset('img/logo-warszawska-granda.png') }}" class="img-responsive center-block">
                </div>
                <div class="date col-xs-12 col-sm-6 text-uppercase">
                    <h3 class="text-center">data</h3>
                    <div class="row">
                        <div class="day col-xs-6 text-right">
                            <p><strong>{{ tournament.start | date('Y-m') }} </strong>
                                <br>
                                {#{{ tournament.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}#}
                            </p>
                        </div>
                        <div class="hour col-xs-6">
                            6-7 albo 13-14 maj<br> dokładna data zostanie wkrótce podana
                            {#<p>godzina#}
                                {#<br>#}
                                {#<strong>{{ tournament.start | date('H:i') }}</strong></p>#}
                        </div>
                    </div>
                </div>
                <div class="place col-xs-12 col-sm-6">
                    <h3 class="text-uppercase text-center">miejsce</h3>
                    <div class="row">
                        <div class="building col-xs-6 text-right">
                            <p><strong>{{ tournament.placeName }}</strong></p>
                        </div>
                        <div class="address col-xs-6">
                            <p>{{ tournament.city }}
                                <br>
                                {{ tournament.street }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="limits col-xs-12 text-center">
                    {#<h2>Zapisy do {{ tournament.signUpTill | date('Y-m-d') }}#}
                        {#({{ tournament.signUpTill |localizeddate('none', 'full', app.request.locale, null, 'cccc') }})</h2>#}
                    <h3 class="text-uppercase">uczestnicy</h3>
                    <p><strong>{{ users|length }} / {{ tournament.capacity }}</strong></p>
                </div>
                <div class="key-points col-xs-12 col-md-9">
                    {#<h3 class="text-uppercase">harmonogram</h3>#}

                    {#<h4>Sobota albo Niedziela</h4>#}
                    {#<ul class="list-unstyled">#}
                        {#<li>09:30 - 10:30 &#8211; waga zawodników</li>#}
                        {#<li>10:30 - 11:00 &#8211; ustalanie par</li>#}
                        {#<li>11:00 - 17:00 &#8211; walki</li>#}
                    {#</ul>#}

                    <h3>Wymagane:</h3>
                    <ul>
                        <li>opłata startowa 30 zł do końca marca, póżniej 35 zł (płatne w siedzibie klubu albo przedpłata przelewem)
                            {#, opłata musi zostać uiszczona do {{ tournament.signUpTill | date('Y-m-d') }} ({{ tournament.signUpTill |localizeddate('none', 'full', app.request.locale, null, 'cccc') }})#}
                        </li>
                        <li>
                            zaświadczenie lekarskie (może być od lekarza pierwszego kontaktu), że nie ma przeciwskazań do uprawiania dyscypliny jaką jest boks.
                        </li>
                        <li>niepełnoletni muszą posiadać badania sportowo - lekarskie oraz
                            <a href="{{ asset('documents/oświadczenie-Granda-dziecko.docx') }}">oświadczenie podpisane
                                przez prawnego opiekuna</a></li>
                        <li>oświadczenie <a href="{{ asset('documents/oświadczenie-Granda.docx') }}"> wersja
                                dla kobiet</a> oraz <a href="{{ asset('documents/oświadczenie-Granda-kobiety.docx') }}">
                                wersja dla mężczyzn</a></li>
                    </ul>
                </div>
                <aside class="col-xs-12 col-md-3">
                    {#<img src="{{ asset('img/plakatXXI.jpg') }}" class="img-responsive center-block">#}
                </aside>
            </div>
        </section>
    </div>
</div>
