{% extends 'base.html.twig' %}
{% block body %}
    {% include 'tournament/_parts/_panel.twig' %}
<div class="container-fluid">
    <div class="main">
        <section class="tournament-data">
            <div class="row">
                <div class="title col-xs-12">
                    <img src="{{ tournament.logo }}" class="img-responsive center-block">
                </div>
                <div class="date col-xs-12 col-sm-6 text-uppercase">
                    <h3 class="text-center">data</h3>
                    <div class="row">
                        <div class="day col-xs-6 text-right">
                            <p><strong>{{ tournament.start | date('d-m-Y') }} </strong>
                                <br>
                                {{ tournament.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                            </p>
                        </div>
                        <div class="hour col-xs-6">
                            <p>godzina
                                <br>
                                <strong>{{ tournament.start | date('H:i') }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="place col-xs-12 col-sm-6">
                    <h3 class="text-uppercase text-center">miejsce</h3>
                    <div class="row">
                        <div class="building col-xs-6 text-right">
                            <p><strong>{{ tournament.place.name }}</strong></p>
                        </div>
                        <div class="address col-xs-6">
                            <p>{{ tournament.place.city }}
                                <br>
                                {{ tournament.place.street }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="limits col-xs-12 text-center">
                    <h2>Zapisy do {{ tournament.signUpTill | date('d-m-Y') }}
                        ({{ tournament.signUpTill |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                        )</h2>
                    <h3 class="text-uppercase">uczestnicy</h3>
                    <p><strong>{{ tournament.getSignUpTournament| length }} / {{ tournament.capacity }}</strong></p>
                </div>
                <div class="key-points col-xs-12 col-md-9">

                    <h3 class="text-uppercase">harmonogram</h3>
                    {% set last = '' %}
                    {% for schedule in tournament.schedule %}

                        {% if last != schedule.start | date('d-m-Y') %}
                            <h4>{{ schedule.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                                ({{ schedule.start | date('d-m-Y') }})</h4>
                        {% endif %}

                        <p><strong>{{ schedule.start| date('H:i') }}</strong>-{{ schedule.end| date('H:i') }}
                            - {{ schedule.description }}</p>
                        {% set last = schedule.start | date('d-m-Y') %}
                    {% endfor %}

                    <h3 class="text-uppercase">Wymagane:</h3>

                    <ul>
                        {% for info in tournament.info %}
                            <li>{{ include(template_from_string(info.description)) }}</li>
                        {% endfor %}
                    </ul>

                    {% if tournament.id == 4 %}
                        <h3 class="text-uppercase">Nagrody:</h3>
                        <p>
                            <strong>KLASA A</strong> <br>
                            1 - najlepszy zawodnik 300 zł <br>
                            2 - nagroda rzeczowa <br><br>

                            <strong>KOBIETY</strong> <br>
                            1 - najlepsza zawodniczka 250 zł <br>
                            2 - nagroda rzeczowa <br><br>

                            <strong>KLASA B</strong> <br>
                            1 - najlepszy zawodnik 250 zł <br>
                            2 - nagroda rzeczowa <br><br>

                            <strong>KLASA C</strong> <br>
                            1 - najlepszy zawodnik 200 zł <br>
                            2 - nagroda rzeczowa
                        </p>
                    {% endif %}
                </div>
                {% if tournament.poster %}
                    <aside class="col-xs-12 col-md-3">
                        <img src="{{ tournament.poster }}" class="img-responsive center-block">
                    </aside>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
