{%  extends 'base.html.twig' %}

{% block body %}
        {{ include('tournament/admin/_adminPanel.twig') }}


    <div class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
        <section class="content">
            <div class="row">
                <main class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="title col-xs-12 text-uppercase text-center">
                            <h3>{{ tournament.name }}</h3>
                        </div>
                        <div class="date col-xs-6 text-uppercase">
                            <h4 class="text-center">data</h4>
                            <div class="row">
                                <div class="day col-xs-6 text-right">
                                    <p><strong>{{ tournament.start | date('Y-m-d') }} </strong>
                                        <br>
                                        {{ tournament.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}</p>
                                </div>
                                <div class="hour col-xs-6">
                                    <p>godzina
                                        <br>
                                        <strong>{{ tournament.start | date('H:i') }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="place col-xs-6">
                            <h4 class="text-uppercase text-center">miejsce</h4>
                            <div class="row">
                                <div class="building col-xs-6 text-right">
                                    <p><strong>{{ tournament.placeName }}</strong></p>
                                </div>
                                <div class="address col-xs-6">
                                    <p>{{ tournament.city }}
                                        <br>
                                        {{ tournament.street }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-uppercase text-center">uczestnicy</h4>
                        <p class="text-center"><strong>{{ users|length }} / {{ tournament.capacity }}</strong></p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="key-points">

                        <h4 class="text-uppercase">harmonogram</h4>

                        {% for schedule in tournament.schedule %}
                            <p><strong>{{ schedule.datetime| date('H:i') }}</strong><span>&mdash;</span>{{ schedule.description }}</p>
                        {%  endfor %}

                        <h4 class="text-uppercase">regulamin<span class="text-lowercase">To jest skrócona wersja regulaminu : <a>zobacz całość</a></span>
                        </h4>
                        <p>Wymagane:</p>
                        <ul>
                            <li>licencja zawodnicza PZKB albo wykupienia jednorazowej licencji na miejscu - 20zł</li>
                            <li>opłata startowa 40zł (płatne na miejscu)</li>
                            <li>ubezpieczenie NNW</li>
                            <li>badania lekarskie</li>
                        </ul>
                        <p>Podczas losowania zawodnicy będą łączeni w pary w oparciu o staż i umiejętności</p>
                        <p>Obowiązują przepisy PZKB</p>
                        <p>Czas walk - 3 rundy po 2 minuty</p>
                    </div>
                </main>
                <aside class="col-xs-12 col-md-3">
                    <h4 class="text-uppercase text-center">wiadomości</h4>
                </aside>
            </div>
        </section>
    </div>
    </div>
    </div>
{%  endblock %}