{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <main>
            <div class="row">
                <div class="title col-xs-12 text-uppercase text-center">
                    <h1>{{ tournament.name }}</h1>
                </div>
                <div class="date col-xs-12 col-sm-6 text-uppercase">
                    <h3 class="text-center">data</h3>
                    <div class="row">
                        <div class="day col-xs-6 text-right">
                            <p><strong>{{ tournament.start | date('Y-m-d') }} </strong>
                                <br>
                                {{ tournament.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                            </p>
                        </div>
                        <div class="hour col-xs-6">
                            <p>godzina
                                <br>
                                <strong>{{ tournament.start | date('H:i') }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="place col-xs-12 col-sm-6">
                    <h3 class="text-uppercase text-center">miejsce</h3>
                    <div class="row">
                        <div class="building col-xs-6 text-right">
                            <p><strong>{{ tournament.placeName }}</strong></p>
                        </div>
                        <div class="address col-xs-6">
                            <p>{{ tournament.city }}
                                <br>
                                {{ tournament.street }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="limits col-xs-12 text-center">
                <h2>Zapisy do 06.02.2017!</h2>
                <h3 class="text-uppercase">uczestnicy</h3>
                <p><strong>{{ users|length }} / {{ tournament.capacity }}</strong></p>
            </div>
            <div class="key-points col-xs-12">
                <h3 class="text-uppercase">harmonogram</h3>

                <h4>Sobota (11.02.2017)</h4>
                <ul class="list-unstyled">
                    <li>14:30 - 15:30 &#8211; waga zawodników</li>
                    <li>15:30 - 16:00 &#8211; konferencja ustalanie par</li>
                    <li>16:00 - 20:00 &#8211; walki sparingowe kadetów, juniorów, zawodników kategorii A
                        i walki meczowe między klubami Legia Fight Club i UniQ Fight Club
                    </li>
                </ul>
                <h4>Niedziela (12.02.2017)</h4>
                <ul class="list-unstyled">
                    <li>09:30 - 10:30 &#8211; waga zawodników</li>
                    <li>10:30 - 11:00 &#8211; konferencja i ustalanie par</li>
                    <li>11:00 - 17:00 &#8211; sparingi w klasach B i C, także walki kobiet</li>
                </ul>

                {#{% for schedule in tournament.schedule %}#}
                {#<p><strong>{{ schedule.datetime| date('H:i') }}</strong><span>&mdash;</span>{{ schedule.description }}</p>#}
                {#{%  endfor %}#}

                <a href="{{ path('rules') }}"><h3 class="text-uppercase">regulamin</h3></a>

                <h3>Wymagane:</h3>
                <ul>
                    <li>opłata startowa 35zł (płatne w siedzibie klubu albo przedpłata przelewem), opłata musi zostać
                        uiszczona do dnia 06.02.2017!
                    </li>
                    <li>niepełnoletni muszą posiadać badania sportowo - lekarskie oraz
                        <a href="{{ asset('documents/oświadczenie-Granda-dziecko.docx') }}">oświadczenie podpisane przez
                            prawnego opiekuna</a></li>
                    <li>podpisane oświadczenie <a href="{{ asset('documents/oświadczenie-Granda.docx') }}"> wersja dla
kobiet</a> oraz <a href="{{ asset('documents/oświadczenie-Granda-kobiety.docx') }}"> wersja dla mężczyzn</a></li>
                </ul>
            </div>
    </div>
    </main>
    </div>
        {#<aside class="col-xs-12 col-md-3">#}
        {#<h3 class="text-uppercase text-center">wiadomości</h3>#}
        {#</aside>#}


{% endblock %}