<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="text-center">{{ tournament.name }}</h1>
        <h4 class="text-center">{{ tournament.start | date('d-m-Y') }} {{ tournament.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }} </h4>

        <div class="row">
            <div class="col-xs-10 col-md-8 col-md-offset-2">
                <h3 class="text-uppercase">harmonogram</h3>
                {% set last = '' %}
                {% for schedule in tournament.schedule %}

                    {% if last != schedule.start | date('d-m-Y') %}
                        <h4>{{ schedule.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                            ({{ schedule.start | date('d-m-Y') }})</h4>
                    {% endif %}

                    <p><strong>{{ schedule.start| date('H:i') }}</strong>-{{ schedule.end| date('H:i') }}
                        - {{ schedule.description }}</p>
                    {% set last = schedule.start | date('d-m-Y') %}
                {% endfor %}
            </div>
        </div>

        {% if tournament.fightsReady| length > 0 %}
            <table id="table-fights" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        Zawodnik 1 <br>
                        <span class="label label-danger">Narożnik Czerwony</span>
                    </th>
                    <th>
                        Zawodnik 2 <br>
                        <span class="label label-primary">Narożnik Niebieski</span>
                    </th>
                    <th>Płeć</th>
                    <th>Klasa</th>
                    <th>Kat. Wagowa</th>
                </tr>
                </thead>
            </table>
        {% else %}
            <p class="text-center">Na tej stronie w dniu turnieju widoczna będzie lista walk</p>
        {% endif %}

        {#<div class="embed-responsive embed-responsive-16by9">#}
        {#<iframe class="embed-responsive-item" src="//www.youtube.com/embed/MYuNLDfLf2s"#}
        {#allowfullscreen></iframe>#}
        {#</div>#}
        <br>
        <br>

        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <img class="img-responsive" src="{{ tournament.poster }}">
        </div>

    </div>
</div>