{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
{% endfor %}

<div class="container-fluid">
    <section class="wrapper text-uppercase">
        <div class="row">
            <a href="{{ path('fighter_all_show') }}" class="deco-none">
                <div class="info1 col-xs-12 col-md-6">
                <img src="{{ asset('img/komunikat.jpg') }}" class="img-responsive center-block">
                <div class="text-field">
                    <h1>zawodnicy</h1>
                </div>
            </div>
            </a>

            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="row">
                    {#<a href="{{ path('fight') }}" class='deco-none'>#}
                        <div class="info2 col-xs-12 col-sm-6 text-left">
                        <img src="{{ asset('img/wyniki.jpg') }}" class="img-responsive pull-left">
                        <div class="text-field">
                            <h2>Turniej</h2>
                        </div>

                    </div></a>

                    <div class="info3 col-xs-12 col-sm-6 text-right">
                        <a href="{{ path('tournament_list') }}" class='deco-none'>
                        <img src="{{ asset('img/3.jpg') }}" class="img-responsive pull-right">
                        <div class="text-field">
                            <h2>informacje</h2>
                            <span>jak zapisać się na turniej</span>
                        </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="youtube col-xs-6 text-center">
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <div class="facebook col-xs-6 text-center">
                        <i class="fa fa-facebook-square"></i>
                    </div>
                </div>
            </div>

            <div class="hidden-xs hidden-sm col-md-6">
                <div class="row">
                    <div class="info2 col-md-6 text-right">
                        {#<a href="{{ path('fight') }}" class='deco-none'>#}
                        <img src="{{ asset('img/wyniki.jpg') }}" class="img-responsive pull-right">
                        <div class="text-field">
                            <h2>Turniej</h2>
                        </div>
                        </a>
                    </div>
                    <div class="youtube col-md-6 text-center">
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="info3 col-md-6 text-right">
                        <a href="{{ path('tournament_list') }}" class='deco-none'>
                        <img src="{{ asset('img/3.jpg') }}" class="img-responsive pull-right">
                        <div class="text-field">
                            <h2>informacje</h2>
                            <span>jak zapisać się na turniej</span>
                        </div>
                        </a>
                    </div>
                    <div class="facebook col-md-6 text-center">
                        <i class="fa fa-facebook-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <main class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="title col-xs-12 text-uppercase">
                        <h4>turniej</h4>
                        <h3>10 edycja turnieju <strong>testowego</strong></h3>
                    </div>
                    <div class="date col-xs-6 text-uppercase">
                        <h4 class="text-center">data</h4>
                        <div class="row">
                            <div class="day col-xs-6 text-right">
                                <p><strong>23/10/2016</strong>
                                    <br>
                                    niedziela</p>
                            </div>
                            <div class="hour col-xs-6">
                                <p>godzina
                                    <br>
                                    <strong>8:30</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="place col-xs-6">
                        <h4 class="text-uppercase text-center">miejsce</h4>
                        <div class="row">
                            <div class="building col-xs-6 text-right">
                                <p><strong>Legia Fight Club</strong></p>
                            </div>
                            <div class="address col-xs-6">
                                <p>Warszawa
                                    <br>
                                    ul. Łazienkowska 6A
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="key-points">

                    <h4 class="text-uppercase">harmonogram</h4>
                    <p><strong>8:30 - 11:00</strong><span>&mdash;</span>rejestracja i ważenie zawodników</p>
                    <p><strong>11:00 - 11:30</strong><span>&mdash;</span>losowanie i zestawienie par</p>
                    <p><strong>11:30 - </strong><span>&mdash;</span>losowanie i zestawienie par</p>

                    <h4 class="text-uppercase">regulamin<span class="text-lowercase">To jest skrócona wersja regulaminu : <a>zobacz całość</a></span>
                    </h4>
                    <p>Wymagane:</p>
                    <ul>
                        <li>licencja zawodnicza PZKB albo wykupienia jednorazowej licencji na miejscu - 20zł</li>
                        <li>opłata startowa 40zł (płatne na miejscu)</li>
                        <li>ubezpieczenie NNW</li>
                        <li>badania lekarskie</li>
                    </ul>
                    <p>Podczas losowania zawodnicy będą łączeni w pary w oparciu o staż i umiejętności</p>
                    <p>Obowiązują przepisy PZKB</p>
                    <p>Czas walk - 3 rundy po 2 minuty</p>
                </div>
            </main>
            <aside class="col-xs-12 col-md-3">
                <h4 class="text-uppercase text-center">wiadomości</h4>
            </aside>
        </div>
    </section>
</div>
{%  endblock %}