{% import "_macros/macro.html.twig" as macro %}
{% extends 'base.html.twig' %}
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container-fluid">
        <section class="wrapper text-uppercase">
            <div class="row">
                <a href="{{ path('tournament_list') }}" class="deco-none">
                    <div class="info1 col-xs-12 col-md-6">
                        <img src="{{ asset('img/komunikat.jpg') }}" class="img-responsive center-block">
                        <div class="text-field">
                            <h1>turnieje</h1>
                        </div>
                    </div>
                </a>

                <div class="col-xs-12 hidden-md hidden-lg">
                    <div class="row">
                        <a href="{{ path('user_list') }}" class='deco-none'>
                            <div class="info2 col-xs-12 col-sm-6 text-left">
                                <img src="{{ asset('img/wyniki.jpg') }}" class="img-responsive pull-left">
                                <div class="text-field">
                                    <h2>ludzie</h2>
                                </div>

                            </div>
                        </a>

                        <div class="info3 col-xs-12 col-sm-6 text-right">
                            <a href="{{ path('club_list' ) }}" class='deco-none'>
                                <img src="{{ asset('img/3.jpg') }}" class="img-responsive pull-right">
                                <div class="text-field">
                                    <h2>kluby</h2>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="youtube col-xs-6 text-center">
                            <a href="https://www.youtube.com/channel/UCMu8BYMJ8SkgTm14YGA2pxA"><i
                                        class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="facebook col-xs-6 text-center">
                            <a href="https://www.facebook.com/FighterChampPL/"><i
                                        class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs hidden-sm col-md-6">
                    <div class="row">
                        <div class="info2 col-md-6 text-right">
                            <a href="{{ path('user_list') }}" class='deco-none'>
                                <img src="{{ asset('img/wyniki.jpg') }}" class="img-responsive pull-right">
                                <div class="text-field">
                                    <h2>ludzie</h2>
                                </div>
                            </a>
                        </div>
                        <div class="youtube col-md-6 text-center">
                            <a href="https://www.youtube.com/channel/UCMu8BYMJ8SkgTm14YGA2pxA"><i
                                        class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="info3 col-md-6 text-right">
                            <a href="{{ path('club_list' ) }}" class='deco-none'>
                                <img src="{{ asset('img/3.jpg') }}" class="img-responsive pull-right">
                                <div class="text-field">
                                    <h2>kluby</h2>
                                </div>
                            </a>
                        </div>
                        <div class="facebook col-md-6 text-center">
                            <a href="https://www.facebook.com/FighterChampPL/"><i
                                        class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1 class="text-center">XXXII WARSZAWSKA GRANDA NA PIĘŚCI</h1>
                <h4 class="text-center">8 kwietnia (niedziela) 2018</h4>


                <div class="row">
                    <div class="col-xs-10 col-md-8 col-md-offset-2">
                        <h3 class="text-uppercase">harmonogram</h3>
                        {% set last = '' %}
                        {% for schedule in tournament.schedule %}

                            {% if last != schedule.start | date('d-m-Y') %}
                                <h4>{{ schedule.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                                    ({{ schedule.start | date('d-m-Y') }})</h4>
                            {% endif %}

                            <p><strong>{{ schedule.start| date('H:i') }}</strong>-{{ schedule.end| date('H:i') }}
                                - {{ schedule.description }}</p>
                            {% set last = schedule.start | date('d-m-Y') %}
                        {% endfor %}
                    </div>
                </div>

                {% if tournament.fights| length > 0 %}
                    <table id="table-clubs" class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                Zawodnik 1 <br>
                                <span class="label label-danger">Narożnik Czerwony</span>
                            </th>
                            <th>
                                Zawodnik 2 <br>
                                <span class="label label-primary">Narożnik Niebieski</span>
                            </th>
                            <th>Płeć</th>
                            <th>Klasa</th>
                            <th>Kat. Wagowa</th>
                        </tr>
                        </thead>
                    </table>
                {% else %}
                    <p class="text-center">Na tej stronie w dniu turnieju widoczna będzie lista walk</p>
                {% endif %}

                {#<div class="embed-responsive embed-responsive-16by9">#}
                    {#<iframe class="embed-responsive-item" src="//www.youtube.com/embed/MYuNLDfLf2s"#}
                            {#allowfullscreen></iframe>#}
                {#</div>#}
                <br>
                <br>

                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <img class="img-responsive"
                         src="{{ asset('img/tournament/warszawska-granda-na-piesci/poster-warszawska-granda-na-piesci-XXXII.jpg') }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var t = $('#table-clubs').DataTable({
                "ajax": "{{ path('api_fight_list', {id: tournament.id, slug: 'turnieje' })}}",
                "columns": [
                    {data: null},
                    {
                        mData: function (data) {
                            var temp = (data.youtubeId === null) ? '' : " <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'></a>";

                            return "<a href='" + data.href + "'>Szczegóły</a>" + temp;
                        }
                    },
                    {
                        mData: function (data) {

                            return record(data.usersFight[0].user) + '<br>' +
                                "<a href='" + data.usersFight[0].user.href + "'>" + data.usersFight[0].user.surname + ' ' + data.usersFight[0].user.name + '</a> ' +
                                fightResult(data.usersFight[0]) + club(data.usersFight[0].user) + '<br>' + age(data.usersFight[0].user)
                                ;
                        }
                    },
                    {
                        mData: function (data) {

                            return record(data.usersFight[1].user) + '<br>' +
                                "<a href='" + data.usersFight[1].user.href + "'>" + data.usersFight[1].user.surname + ' ' + data.usersFight[1].user.name + '</a> ' +
                                fightResult(data.usersFight[1]) + club(data.usersFight[1].user) + '<br>' + age(data.usersFight[1].user)
                                ;
                        }
                    },
                    {
                        mData: function (data) {
                            return data.usersFight[1].user.male? 'M' : 'K';
                        }
                    },
                    {
                        mData: function (data) {
                            return data.formula;
                        }
                    },
                    {
                        mData: function (data) {
                            return data.weight;
                        }
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
                },
                "bPaginate": false,
                "dom": 'lifrtp'
            });

            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

        function fightResult(userFight) {

            var result = '';

            if (userFight.result === 'win') {
                result = '<span class="label label-success">W</span>';
            } else if (userFight.result === 'lose') {
                result = '<span class="label label-danger">L</span>'
            }else if (userFight.result === 'draw'){
                result = '<span class="label label-warning">D</span>';
            }else if (userFight.result === 'disqualify' ){
                result = '<span class="label label-dark">DQ</span>';
            }

            return result;

        }


        function record(user) {
            return '<span style="color: #5cb85c">' + user.record.win + '</span> ' +
                '<span style="color: #f0ad4e">' + user.record.draw + '</span> ' +
                '<span style="color: #d9534f">' + user.record.lose + '</span>'
        }


        function club(user) {
            if (user.club === null) {
                return '';
            }
            return "<br><a href='" + user.club.href + "'>" + user.club.name + "</a>";
        }

        function age(user) {
            if (user.birthDay === null) {
                return '';
            }
            var age = new Date(new Date - new Date(user.birthDay.date)).getFullYear() - 1970;

            var temp = age <= 18 ? '(Junior)' : '';
            return age + ' lat ' + temp;
        }
    </script>
{% endblock %}

