{% import "_macros/macro.html.twig" as macro %}
{% extends 'base.html.twig' %}
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container-fluid">
        <section class="wrapper text-uppercase">
            <div class="row">
                <a href="{{ path('tournament_list') }}" class="deco-none">
                    <div class="info1 col-xs-12 col-md-6">
                        <img src="{{ asset('img/komunikat.jpg') }}" class="img-responsive center-block">
                        <div class="text-field">
                            <h1>turnieje</h1>
                        </div>
                    </div>
                </a>

                <div class="col-xs-12 hidden-md hidden-lg">
                    <div class="row">
                        <a href="{{ path('fighter_all_show') }}" class='deco-none'>
                            <div class="info2 col-xs-12 col-sm-6 text-left">
                                <img src="{{ asset('img/wyniki.jpg') }}" class="img-responsive pull-left">
                                <div class="text-field">
                                    <h2>zawodnicy</h2>
                                </div>

                            </div>
                        </a>

                        <div class="info3 col-xs-12 col-sm-6 text-right">
                            <a href="{{ path('club_list' ) }}" class='deco-none'>
                                <img src="{{ asset('img/3.jpg') }}" class="img-responsive pull-right">
                                <div class="text-field">
                                    <h2>kluby</h2>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="youtube col-xs-6 text-center">
                            <a href="https://www.youtube.com/channel/UCMu8BYMJ8SkgTm14YGA2pxA"><i
                                        class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="facebook col-xs-6 text-center">
                            <a href="https://www.facebook.com/FighterChampPL/"><i
                                        class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs hidden-sm col-md-6">
                    <div class="row">
                        <div class="info2 col-md-6 text-right">
                            <a href="{{ path('fighter_all_show') }}" class='deco-none'>
                                <img src="{{ asset('img/wyniki.jpg') }}" class="img-responsive pull-right">
                                <div class="text-field">
                                    <h2>zawodnicy</h2>
                                </div>
                            </a>
                        </div>
                        <div class="youtube col-md-6 text-center">
                            <a href="https://www.youtube.com/channel/UCMu8BYMJ8SkgTm14YGA2pxA"><i
                                        class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="info3 col-md-6 text-right">
                            <a href="{{ path('club_list' ) }}" class='deco-none'>
                                <img src="{{ asset('img/3.jpg') }}" class="img-responsive pull-right">
                                <div class="text-field">
                                    <h2>kluby</h2>
                                </div>
                            </a>
                        </div>
                        <div class="facebook col-md-6 text-center">
                            <a href="https://www.facebook.com/FighterChampPL/"><i
                                        class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1 class="text-center">XXIX WARSZAWSKA GRANDA NA PIĘŚCI</h1>
                <h4 class="text-center">10 grudnia 2017</h4>


                <div class="row">
                    <div class="col-xs-10 col-md-8 col-md-offset-2" style="display: flex;flex-flow:column; align-items: center">
                        <h3 class="text-uppercase text-center">harmonogram</h3>
                        <div>
                            {% set last = '' %}
                            {% for schedule in tournament.schedule %}
                                <p><strong>{{ schedule.start| date('H:i') }}</strong>-{{ schedule.end| date('H:i') }}
                                    - {{ schedule.description }}</p>
                                {% set last = schedule.start | date('d-m-Y') %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% if fights %}
                    {{ macro.table(fights, {'tournament' : false, 'order': true }) }}
                {% else %}
                    <p class="text-center">Na tej stronie w dniu turnieju widoczna będzie lista walk</p>
                {% endif %}

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MYuNLDfLf2s"
                            allowfullscreen></iframe>
                </div>
                <br>
                <br>

                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <img class="img-responsive"
                         src="{{ asset('img/tournament/warszawska-granda-na-piesci/poster-warszawska-granda-na-piesci-XXIX.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#table-fight').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
                },
                "bPaginate": false,
                "dom": 'lifrtp'
            });
        });
    </script>
{% endblock %}

