{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="container">#}
        {#<h2>Upload Multiple Images with Progress Bar using jQuery, PHP and MySQL</h2>#}
        {#<form method="post" name="image_upload_form" id="image_upload_form"#}
              {#enctype="multipart/form-data" action="{{ path('api_image_upload') }}">#}
            {#<label>Choose Multiple Images to Upload</label>#}
            {#<input type="file" name="images_upload[]" id="image_upload" multiple >#}
        {#</form>#}
        {#<br>#}
        {#<div class="progress" style="display:none;">#}
            {#<div class="bar"></div >#}
            {#<div class="percent">0%</div >#}
        {#</div>#}
        {#<div id="status"></div>#}
    {#</div>#}


    <div class="container">
        <div class="row">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
            {##}
            {#Serwis powstał aby zawodnicy mogli w łatwy i wygodny sposób zapisać się na turniej bokserski,#}
            {#a organizator turnieju mógł sprawnie sparować zawodników.#}


            {#- zapisy na turniej - dotychczasowo widziałem po prostu ogłoszenia na Facebooku#}
            {#z data wydarzenia i prośbą o zapisy podając, swoje dane osobowe kat. wag. oraz stopień zaawansowania drogą mailową.#}

            {#Taki sposób zajmuje sporo czasu oraz jest narażony na licznę błędy i pomyłki. Co najgorsze zawodnicy oraz ich rekord walk nigdzie nie jest gromadzony,#}
            {#ponieważ ręczne zbieranie tych wszystkich danych zabiera bardzo dużo czasu.#}

            {#W dodatku największą bolączka zapisywanych, jest to, że nie wiadomo ile osób już się zapisało oraz czy znajdę zawodnika#}
            {#do walki w mojej kat. wag i zbliżonego doświadczeniem.#}

            {#odp - wyświetla na bieżąco wszystkich zapisanych zawodników#}

            {#- wszystkie walki powinny być nagrywane,#}

            {#- gromadzenie danych dotyczących przebiegu walk oraz możliwość obejrzenia z nich nagrania video#}

            {#- umożliwia automatyczne tworzenie statystyk dla zawodników, klubów, trenerów#}

            {#- osadzenie zawodnika w środowisku konkurencji, podjęcia próby ustawienia swojej dotychczasowej wartości i ukazanie możliwości pnięcia się wyżej w drabinie#}
            {##}
            {#Rozpocząć pracę u podstaw w obszarze sportu rekreacyjnego i amatorskiego dostarczjąc odpowiednich narzędzi dla zawodników#}
            {#i organizatorów turniejów.#}

        <address class="text-center col-xs-12">
            <i class="fa fa-facebook" ><a href="https://www.facebook.com/FighterChampPL/">
                    Strona na Facebooku</a></i><br/>
                slawomir.grochowski@gmail.com
        </address>
        </div>

        <div class="row">
            <div class="text-center col-xs-12">
                <h1>NASZ ZESPÓŁ</h1>
            </div>
        </div>

        <div class="row team">
            <div class="text-center col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-2 member">
                <img src="{{ asset('img/about/slawomir_grochowski.jpg') }}">
                <h4>Sławomir Grochowski</h4>
                <h5>Back-end Developer</h5>
            </div>
            <div class="text-center col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-2 member">
                <img src="{{ asset('img/about/paulina.jpg') }}">
                <h4>Paulina Wanda Wojtas</h4>
                <h5>Front-end Developer</h5>
            </div>
            <div class="text-center col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-2 member">
                <img src="{{ asset('img/about/rafal_zielu.jpg') }}">
                <h4>Rafał Zieliński</h4>
                <h5>Graphic Designer</h5>
            </div>
            <div class="text-center col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-2 member">
                <img src="{{ asset('img/about/mateusz_nurzynski.jpg') }}">
                <h4>Mateusz Nurzyński</h4>
                <h5>Legal Support</h5>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <p>Jeśli chciałbyś pomóc w rozwoju serwisu. Dołącz do nas!</p>
                <p>Podaj swój email a z pewnością odezwiemy się do Ciebie!</p>
            {{ form_start(form) }}
               {{ form_row(form.email) }}
            <input type="submit" class="btn btn-primary" value="Wyślij" formnovalidate>
            {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    $(document).ready(function(){
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        $('#image_upload').on('change',function(){
            $('#image_upload_form').ajaxForm({
                beforeSend: function() {
                    $(".progress").show();
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                },
                success: function(data, statusText, xhr) {
                    var percentVal = '100%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                    status.html(xhr.responseText);

                },
                error: function(xhr, statusText, err) {
                    status.html(err || statusText);
                }
            }).submit();
        });
    });
</script>
{% endblock %}
