{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h3>Uzupełnij swoje dane</h3>
                {{ form_start(userForm) }}

                {{ form_row(userForm.birthDay,{ 'label': 'Data Urodzenia'}) }}
                {{ form_row(userForm.phone, { 'label': 'Telefon'}) }}
                {{ form_row(userForm.club,{ 'label': 'Klub (opcjonalnie)'}) }}
                <div>
                    <a href="{{ asset('documents/Regulamin_turnieju_pucharowego_ligii_B-Fight_1.pdf') }}">Regulamin</a>
                </div>
                {{ form_row(userForm.terms, { 'label': 'Oświadczam, że zapoznałem/am się i akceptuję Regulamin
                         oraz wyrażam zgodę na przetwarzanie moich danych osobowych.'  }) }}


                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}