{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edytuj Zawodnika</h1>

                {{ form_start(form) }}
                {{form_row(form.email)}}
                {{form_row(form.male)}}
                {{form_row(form.name)}}
                {{form_row(form.surname)}}
                {{form_row(form.birthDay)}}
                {{form_row(form.phone)}}

                <img class='center' style="width: 180px;, height: 180px;"
                        {% if user.male %} src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/male.png') }}"
                        {% else %} src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/female.png') }}"> {% endif %} >
                {{form_row(form.imageFile, {'label' : 'Zdjęcie Profilowe (opcjonalnie)'}) }}
                {{form_row(form.club)}}

                <button type="submit" class="btn btn-primary" formnovalidate>Zapisz
                {{ form_end(form) }}


            </div>
        </div>
    </div>
{% endblock %}
