{% extends 'base.html.twig' %}

{% block body %}
            <div class="col-xs-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_user_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>

                <h1>Zawodnicy</h1>

                <table class="table table-striped">
                    <tr>
                        <th>Nazwisko i Imię</th>
                        <th>Płeć</th>
                        <th>Wiek</th>
                        <th>Klub</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    {% for genus in genuses %}
                        <tr>
                            <td>{{ genus.surname }} {{ genus.name }} </td>
                            <td>{{ genus.male ?  'M' : 'K' }}</td>
                            <td>{{ genus.birthDay |getAge }}</td>
                            <td>{{ genus.club }}</td>
                            <td>{{ genus.phone }}</td>
                            <td>{{ genus.email }}</td>
                            <td>
                                <a href="{{ path('admin_user_edit', {'id': genus.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
{% endblock %}