{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/base.html.twig' %}
    <div class="col-xs-12">
        {#<div class="pull-left" style="margin-bottom: 10px; margin-top: 20px;">#}
            {#<a href="{{ path('admin_user_new') }}" class="btn btn-primary pull-right">Dodaj <span#}
                        {#class="fa fa-plus-circle"></span></a>#}
        {#</div>#}

        <h1 class="text-center">Zawodnicy</h1>

        <table id="table" class="table table-striped">
            <thead>
            <tr>
                {#<th></th>#}
                <th>Nazwisko i Imię</th>
                <th>Płeć</th>
                <th>Wiek</th>
                <th>Klub</th>
                <th>Telefon</th>
            </tr>
            </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    {#<td>#}
                        {#<a href="{{ path('admin_user_edit', {'id': user.id}) }}"#}
                           {#class="btn btn-success">Edytuj</a>#}
                    {#</td>#}
                    <td>{{ user.surname }} {{ user.name }} </td>
                    <td>{{ user.male ?  'M' : 'K' }}</td>
                    <td>{{ user.birthDay |getAge }}</td>
                    <td>{{ user.club }}</td>
                    <td>
                        {% if user.phone %}
                        <span data-div="{{ loop.index }}"
                              class="expand">Pokaż</span>
                            <div style="display: none" id="{{ loop.index }}">{{ user.phone }}</div>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script src="{{ asset('js/admin_select_tournament.js') }}"></script>
<script>
    window.onload=function() {
        var links = document.querySelectorAll(".expand");
        for (var i=0;i<links.length;i++) {
            links[i].onclick=function(e) {
                e.preventDefault();
                var ele = document.getElementById(this.getAttribute("data-div"));
                if (ele) ele.style.display = ele.style.display == "block"?"none":"block";
            }
        }
    }
</script>
{% endblock %}