{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="pull-left" style="margin-bottom: 10px; margin-top: 20px;">
            <a href="{{ path('admin_user_new') }}" class="btn btn-primary pull-right">Dodaj <span
                        class="fa fa-plus-circle"></span></a>
        </div>

        <h1 class="text-center">Zawodnicy</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Nazwisko i Imię</th>
                <th>Płeć</th>
                <th>Wiek</th>
                <th>Klub</th>
                <th>Telefon</th>
                <th>Email</th>
            </tr>
            </thead>
            {% for genus in genuses %}
                <tbody>
                <tr>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': genus.id}) }}"
                           class="btn btn-success">Edytuj</a>
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ genus.surname }} {{ genus.name }} </td>
                    <td>{{ genus.male ?  'M' : 'K' }}</td>
                    <td>{{ genus.birthDay |getAge }}</td>
                    <td>{{ genus.club }}</td>
                    <td>{{ genus.phone }}</td>
                    <td>{{ genus.email }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}