{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-md-6 col-md-offset-3">
    {{ form_start(form) }}
        {{ form_row(form.formula, { 'label': 'Formuła'} ) }}
        {{ form_row(form.weight, { 'label': 'Waga'} ) }}
        {{ form_row(form.UserOne, { 'label': 'Zawodnik 1'} ) }}
        {{ form_row(form.UserTwo, { 'label': 'Zawodnik 2'} ) }}
        {{ form_row(form.tournament, { 'label': 'Turniej'} ) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Zapisz</button>
    {{ form_end(form) }}
</div>
    <div class="col-xs-12">
        <h3>Zawodnicy którzy są zgłoszeni do turnieju ale nie są jescze sparowani</h3>
        <h3>Liczba zapisanych: {{ registeredUsersQty }}</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nazwisko i Imię</th>
                <th>Formuła</th>
                <th>Płeć</th>
                <th>Kat. Wagowa</th>
                <th>Wiek</th>
            </tr>
            </thead>
            <tbody>
            {% for user in freeUsers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('user', {'id': user.User.id }) }}"> {{ user.User.surname }} {{ user.User.name }}</a></td>
                    <td> {{ user.formula }} </td>
                    <td> {{ user.User.male ?  'M' : 'K' }} </td>
                    <td> {{ user.weight }} </td>
                    <td> {{ user.User.birthDay |getAge }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}